.container-createResume {
    width: 100%;
    margin: 0;
}
.container-left {
    float: left;
    width: 50%;
    padding: 20px;
}
.container-right {
    margin-left: 100px;
    float: left;
    width: 650px;
    height: auto;
    padding: 16px;
    font-size: 9px;
    background: white;
}
/*Container Left*/
/*Header component*/
.header-resume {
    text-align: center;
    padding: 0;
    text-transform: uppercase;
}
/*Personal Detail component*/
.details-left{
    width: 45%;
    float: left;
}
.details-right {
    width: 45%;
    float: right;
}
.input-box {
    padding: 3px 0;
}
/*Profile*/
.pro-summary,.list-history{
    float: left;
    width: 100%;
}
/*Employment, Education*/
.reusable-form {
    float: left;
    display: none;
    height: 100%;
    margin-top:10px;
}
.reusable-form:after{
    content: "";
    clear: both;
    display: table;
}
.reusable-list {
    margin: 10px 0;
    padding: 15px;
    height: 80px;
    border: 1px solid gray;
    border-radius: 5px;
}
/*Container Right*/
.display-left {
    float: left;
    width: 25%;
    padding: 1px 5px 10px 0;
    font-size: 9px;
    text-transform: capitalize;
}
.display-right {
    float: left;
    width: 75%;
    padding: 0 10px 10px 10px;
    font-size: 9px;
    border-left:1px dashed gray ;
}
.display-right i {
    float: left;
    padding: 1px 10px 0 0;
}
.display-right p, .display-right label  {
    padding-left: 20px;
}

